---
title: Web design
---

<header>
	<figure>
		<img src="images/enbrut.png">
	</figure>
	<h1>Sònia Pardo i Polo</h1>
	<p>UX/UI Designer - UI Developer</p>
	<a href="https://www.linkedin.com/in/soniapardo/">www.linkedin.com/in/soniapardo/</a>
	<nav>
		<ul>
    		<li><a href="#">About me</a></li>
    		<li class="active"><a href="#">UX/UI Projects</a></li>
    		<li><a href="web.html">Web Design</a></li>
    		<li><a href="#">Publisher Design</a></li>
  		</ul>
	</nav>
</header>
<main>
	<section class="web-projects">
		<figure>
			<img src="images/ibcn.jpg">
			<p><a target="blank" href="www.improbarcelona.com">www.improbarcelona.com</a><br />
			<span class="details">2017, Under construction</span></p> 
		</figure>
		<figure>
			<img src="images/planeta-impro_01.jpg">
			<p><a href="www.planetaimpro.com">www.planetaimpro.com</a><br />
			<span  class="details">2014, Lost control of the actual design</span></p> 
		</figure>
		<figure>
			<img src="images/llull_01.jpg">
		</figure>
		
		<figure>
			<img src="images/shiatsu.jpg">
		</figure>
		<figure>
			<img src="images/qm-stetic.jpg">
		</figure>
	</section>
	
</main>

