$main_color: #8C3761;
$text_color: #000;
$text_color_neg: #fff;

body {
  color: $text_color;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.main-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
nav, .main_description, footer {
  padding: 0 30px;
}

header nav {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  background-color: $main_color;
  font-weight: 200;
  display: flex;
  flex-flow: row wrap;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 80% 62%, 57% 95%, 25% 75%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 80% 62%, 57% 95%, 25% 75%, 0 100%, 0 0);

    ul {
      display: flex;
      flex-flow: row wrap;
    }
    li {
      padding-right: 20px;
    }
    a {
      color: $text_color_neg;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
}


ul {
  margin: 0;
    padding: 0;
}
li {
    list-style: none; 
  }

.logo {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 75px;
}

.job-description {
  color: text_color;
  font-size: 72px;
  font-weight: 800;
}
.main_image {
  width: 100%;
}
main figure {
  padding: 0;
  margin: 40px 0;
  width: 100%;
}

