<header>
  <div class="header-bg">
  </div>
  <nav>
    <%= partial "layouts/menu" %>
  </nav>
  <figure>
    <a href="index.html"><img class="logo" src="images/enbrut.png"></a>
  </figure>
</header>
