<header>
	<figure>
		<img src="images/enbrut.png">
	</figure>
	<h1>Sònia Pardo i Polo</h1>
	<p>UX/UI Designer - UI Developer</p>
	<a href="https://www.linkedin.com/in/soniapardo/">www.linkedin.com/in/soniapardo/</a>
	<nav>
		<ul>
    		<li><a href="#">About me</a></li>
    		<li><a href="projects.html">UX/UI Projects</a></li>
    		<li class="active"><a href="web.html">Web Design</a></li>
    		<li><a href="#">Publisher Design</a></li>
  		</ul>
	</nav>
</header>