<header>
  <figure>
    <a href="/"><img src="images/enbrut.png"></a>
  </figure>
  <h1>Sònia Pardo i Polo</h1>
  <p>UX/UI Designer - UI Developer</p>
  <a href="https://www.linkedin.com/in/soniapardo/" target="blank">www.linkedin.com/in/soniapardo/</a>
  <nav>
    <ul>
      <%= li_menu_link "UX/UI Projects", "/projects.html" %>
      <%= li_menu_link "Web Design", "/web.html" %>
      <%= li_menu_link "Publish Design", "/publish.html" %>
      <%= li_menu_link "About me", "/about.html" %>
    </ul>
  </nav>
</header>
