<header>
  <nav>
    <ul>
      <%= li_menu_link "UI Development", "/ui_development.html" %>
      <%= li_menu_link "UX/UI Design", "/ux-ui.html" %>
      <%= li_menu_link "Publish Design", "/publish.html" %>
      <%= li_menu_link "About me", "/about.html" %>
    </ul>
  </nav>
  <figure>
    <img class="logo" src="images/enbrut.png">
  </figure>
</header>
