---
title: About me
---

<img src="images/header_01.jpg" width="100%" alt="" />

<p>Welcome to my portfolio!</p>

<p>I’ve just finished a UX/UI design Bootcamp at Ironhack where, applying the Design Thinking and User Centered Design principles, I’ve been able to validate ideas and translate them into Wireframes and Prototypes, as well as performing the iterative process after the user tests.</p>

<p>I’ve worked for more than 10 years in a small company as a publisher designer, laying out books, magazines and communication products for cultural institutions such as Mercat de les Flors, MUHBA or Biblioteques de Barcelona...</p>

<p>More recently, I’ve been working on web design and front-end development with HTML and CSS.</p>

<p>Five years ago I decided to start my second career at UOC (Universitat Oberta de Catalunya) and until now, I’ve combined my work with the Multimedia Degree pursuing the specialization in «Usability and Interfaces».</p>
