---
title: enbrut.net
---
<main>
	<section class="main_description">
		<p>Hi, my name is Sònia and I'm a</p>
		<ul class="job-description">
			<li>UI Developer</li>
			<li>UX / UI Designer</li>
			<li>Publisher Designer</li>
		</ul>
	</section>
	<figure>
		<img class="main_image" src="images/workspace.jpg">
	</figure>

</main>
