---
title: UX/UI Projects
---
<section class="ux-ui-projects">
  <figure>
    <img src="images/whats_next.jpg">
    <p><a target="blank" href="www.improbarcelona.com">www.improbarcelona.com</a><br />
    <span class="details">2017, UX/UI design project for a TV shows management app</span></p>
  </figure>
  <figure>
    <img src="images/blinder.jpg">
    <p><a href="www.planetaimpro.com">www.planetaimpro.com</a><br />
    <span class="details">2017, UX/UI design project for a dating app</span></p>
  </figure>
</section>
