---
title: Publish Design
---

<p class="publish-design">I've been working as a publisher designer for more than 10 years in a little company from Barcelona (UTT) who brought me the opportunity to work for some of the more important institutions of the cultural scene in Barcelona. </p>
<!-- Here are some of my works:
<h2>Books and Annual Reports</h2> -->
