---
title: Web design
---
<section class="web-projects">
  <figure>
    <img src="images/ibcn.jpg">
    <figcaption><a href="http://www.improbarcelona.com" target="blank">Impro Barcelona</a><br />
    <span class="details">2017, Under construction</span></figcaption>
  </figure>
  <figure>
    <img src="images/planeta-impro_01.jpg">
    <figcaption><a href="http://www.planetaimpro.com" target="blank">Planeta Impro</a><br />
    <span  class="details">2014, Lost control of the actual design</span></figcaption>
  </figure>
  <figure>
    <img src="images/llull_01.jpg">
    <figcaption><a href="http://www.llull.cat/monografics/performingarts/catala/index.cfm" target="blank">Catalan Perfoming Arts, Institut Ramon LLull</a><br />
    <span  class="details">2014, realized in UTT design company</span></figcaption>
  </figure>

  <figure>
    <img src="images/shiatsu.jpg">
    <figcaption>Escola de Shiatsu i Moviment<br />
    <span  class="details">2013, realized in UTT design company</span></figcaption>
  </figure>
  <figure>
    <img src="images/qm-stetic.jpg">
    <figcaption>QM Stetic-Médic<br />
    <span  class="details">2012, realized in UTT design company</span></figcaption>
  </figure>
</section>
