---
title: Blinder, UX/UI design project for a dating app
---
<p class="breadcrumb"><a href="ux-ui.html">UI/UX projects</a> > <span class="active">Blinder</span></p>
<article class="ux-ui-process">
  <h1>Blinder, UX/UI design project for a dating app</h1>
  <section>
    <p>The Blinder project is about a dating app and the problem it tries to solve is that users of dating APPs like Tinder find it difficult to match profiles by affinity.</p>
    <p>So, the requirements of the app were:</p>
      <ul>
        <li>To meet people by affinity or common tastes</li>
        <li>The profiles are shown with a blurred picture and the user has to decide «liking» someone without seeing the clear picture.</li>
        <li>Once 2 people like each other there’s a match and they can start chatting.</li>
      </ul>
  </section>

  <section>
    <h2>Research process</h2>
    <p>I’d started with the research process to understand better the users goals, and once I’d identified the problem I’d needed to define the target. For that I made:</p>
    <ul>
      <li>2 in-depth interviews</li>
      <li>A Survey to test some of the assumptions I’d took from the Interviews</li>
      <li>An Affinity Diagram to clarify the recollected data</li>
    </ul>
    <figure>
      <img src="images/ux-ui-bl_affinitymap.png" alt="">
    </figure>
    <p>With this information I’d created the user types to clarify the different groups of users</p>
    <figure>
      <img src="images/ux-ui-bl_usertype.png" alt="">
    </figure>
    <p>And with them, I’d decided to create only one User Persona because I’d found a clearly defined target.</p>
    <figure>
      <img src="images/ux-ui-bl_userpersona.png" alt="">
    </figure>
    <p>He is a single thirty-four years old man, who wants to meet new people with similar affinities to find a relationship.</p>
    <p>This User Persona helped me during all the process to focus the product and understand the users needs.</p>
    <p>I’d created a Mind Map to start thinking about the main topics and to brainstorm some of the initial ideas.</p>
    <figure>
      <img src="images/ux-ui-bl_mindmap.png" alt="">
    </figure>
    <p>The Customer Journey Map was important to create a visual representation of how the persona will use the app.</p>
    <p>This step was specially important on the creative process because thinking on the critical moments helped me to start discovering possible solutions. I realized that I needed a complete profile in order to offer more affinity matches, and I thought that the blurriness of the image could be dependant on the completness of the profile.</p>
    <figure>
      <img src="images/ux-ui-bl_customerjurneymap.png" alt="">
    </figure>
    <p>Finally I started thinking about the platform, and the first Story flows</p>
    <figure>
      <img src="images/ux-ui-bl_storyflow.jpg" alt="">
    </figure>
  </section>

  <section>
    <h2>Information Architecture</h2>
    <p>Next, was Information Architecture, where I’d started thinking about the Navigation, the User Flows, the Tasks and the Site Map.</p>
    <p>This is the flow chart of the app from my User Persona point of view.</p>
    <figure>
      <img src="images/ux-ui-bl_flowchart.png">
    </figure>
    <p>And this is the Site Map, where I had to think how to hierarchizy the content and the screens.</p>
    <figure>
      <img src="images/ux-ui-bl_sitemap.png">
    </figure>
    <p>During all this process I’d made lots of hand-made sketches. They where an important part of the design process and helped me to clarify ideas.</p>
    <figure>
      <img src="images/ux-ui-bl_wireframes.png">
    </figure>
    <p>At this point. It was time to start thinking about the visual design.</p>
  </section>

  <section>
    <h2>Visual design</h2>
    <p>First, I’d started with some medium fidelity Wireframes to see how the app could look in general terms.</p>
    <figure>
      <img src="images/ux-ui-bl_mockup-medium.png">
    </figure>
    <p>Then I’d defined the design elements to start with the high fidelity mockups</p>
    <figure>
      <img src="images/ux-ui-bl_colors.png">
    </figure>

    <p>And these are the main pages</p>
    <figure>
      <img src="images/ux-ui-bl_mainpages.jpg">
    </figure>
    <p>And this is the <a target="blank" href="https://invis.io/78AK2J99A#/218318946_IPhone_7_Guide_0">prototype</a> that helps to to make a user test and correct some of details about the navigation.</p>

  </section>

</article>
