---
title: UX/UI Projects
---
<section class="ux-ui-projects">
  <figure>
    <img src="images/whats_next.jpg">
    <figcaption><a href="/ux-ui_whatsnext.html">What's Next</a><br />
    <span class="details">2017, UX/UI design project for a TV shows management app</span></figcaption>
  </figure>
  <figure>
    <img src="images/blinder.jpg">
    <figcaption>Blinder<br />
    <span class="details">2017, UX/UI design project for a dating app</span></figcaption>
  </figure>
</section>
