---
title: What's Next, UX/UI design project for a TV shows management app
---
<article class="ux-ui-watsnext">
  <h1>UX / UI design project for a TV shows management app</h1>
  <section>
    <p>The main problems this app tries to solve were that: </p>
      <ul>
        <li>There are lots of TV Shows available, and it’s difficult choosing the next one.</li>
        <li>People prefer friends' recommendations because the others are not reliable</li>
        <li>With recommendations coming from everywhere, it’s difficult to remember who recommends YOU something and why</li>
        <li>The list of pending shows tends to be too long</li>
      </ul>
    <p>To solve them, I’d started with a research process to understand better the users needs.</p>
  </section>
  <section>
    <h2>Research process</h2>
    <p>Once I identified the problem I created a Mind Map to start thinking about the main topics and to brainstorm some ideas.</p>
    <figure>
      <img src="images/ux-ui-wn_mindmap.png">
    </figure>
    <p>Then, I’d tried to identify the target and validate some of the assumptions I had about the problems. For that I made:</p>
    <ul>
      <li>3 in-depth interviews</li>
      <li>And a survey with a mix of open and close questions</li>
    </ul>
    <p>With all this process I could verify that people prefer friends recomendations over tendencies and media, and this was the main challenge to solve.</p>
    <p>In order to clarify some of the collected data, I tried to categorize it in an Affinitty Diagram.</p>
    <figure>
      <img src="images/ux-ui-wn_affinitymap.png">
    </figure>
    <p>Then I’d created the user types to see the different groups of users.
I’d found three types but I prefered to focus in one of them, because it was the main User Type taken from the survey</p>
    <figure>
      <img src="images/ux-ui-wn_usertype.png">
    </figure>
    <p>So, I’d decided to create two User Personas that synthetized the User I was trying to focus my app on.
</p>
    <figure>
      <img src="images/ux-ui-wn_userpersona-1.png">
    </figure>
    <figure>
      <img src="images/ux-ui-wn_userpersona-2.png">
    </figure>
    <p>These two Users Personas helped me during all the process to focus the product and understand the users needs.</p>
    <p>Finally I started thinking about how the Personas could use the app, and which screens could they see. I always tried to figure out the worst case scenario to force me to find the best possible solution</p>
    <figure>
      <img src="images/ux-ui-wn_userflow.png">
    </figure>
  </section>

  <section>
    <h2>Information Architecture</h2>
    <p>Next, was Information Architecture, where I’d started thinking about the Navigation, the User Flows, the Tasks and the Site Map.</p>
    <p>This is the flow chart of the app from my User Persona point of view.</p>
    <figure>
      <img src="images/ux-ui-wn_flowchart.png">
    </figure>
    <p>And this is the Site Map, where I had to think how to hierarchizy the content and the screens</p>
    <figure>
      <img src="images/ux-ui-wn_sitemap.png">
    </figure>
    <p>During all this phase I’d made lots of hand-made sketches. They where an important part of the design process and helped me to clarify ideas.</p>
    <figure>
      <img src="images/ux-ui-wn_wireframes.png">
    </figure>
    <p>At this point. It was time to start thinking about the visual design.</p>
  </section>

  <section>
    <h2>Visual design</h2>
    <p>First, I’d started with some medium fidelity Wireframes to see how it could look in general terms. I just draw the main pages and I’d decided to leave the rest for the hi-fidelity mockups.</p>
    <figure>
      <img src="images/ux-ui-wn_mockup-medium.png">
    </figure>
    <p>I starded thinking about the main colors and the font I would use</p>
    <figure>
      <img src="images/ux-ui-wn_colors.png">
    </figure>
    <p>And then, I created a system grid of 8 pixels and the elements of the app where created following this module.
I’d designed the patterns of the main pages following a established propotion, and then, I was ready to start with the High fidelity mockups…</p>
    <figure>
      <img src="images/ux-ui-wn_grid.png">
    </figure>
    <p>This is how they look</p>
    <figure>
      <img src="images/ux-ui-wn_mockup-hi.png">
    </figure>
    <p>And this is the <a href="https://invis.io/JEAUXHJKM#/223677991_iPhone_7_-0_Start">prototype</a> that helps to to make a user test and correct some of details about the navigation.</p>

  </section>

</article>
