---
title: Web design
---
<section class="web-projects">
  <figure>
    <img src="images/ibcn.jpg">
    <p><a href="http://www.improbarcelona.com" target="blank">www.improbarcelona.com</a><br />
    <span class="details">2017, Under construction</span></p>
  </figure>
  <figure>
    <img src="images/planeta-impro_01.jpg">
    <p><a href="http://www.planetaimpro.com" target="blank">www.planetaimpro.com</a><br />
    <span  class="details">2014, Lost control of the actual design</span></p>
  </figure>
  <figure>
    <img src="images/llull_01.jpg">
  </figure>

  <figure>
    <img src="images/shiatsu.jpg">
  </figure>
  <figure>
    <img src="images/qm-stetic.jpg">
  </figure>
</section>
